<!DOCTYPE html>​

<html>

<head>​
    <title>Sistema de Cursos</title>​
</head>​

<body>​
    <center> ​
        <h1> Sistema de Cursos </h1>​
        <a href="/cadastro"> <button> Cadastrar Usuário</button> </a> ​
        <a href="/users"> <button> Listar Usuários</button> </a>​
        <a href="/cadastroLicao"> <button> Cadastrar Licao</button> </a> ​
        <a href="/lessons"> <button> Listar Licoes</button> </a>​
        <a href="/cadastroCurso"> <button> Cadastrar Curso</button> </a> ​
        <a href="/courses"> <button> Listar Cursos</button> </a>​
        <a href="/comentarioCreate"> <button> Cadastrar Comentário</button> </a> ​
        <a href="/comentarioList"> <button> Listar Comentários</button> </a>​
        <a href="/logout"> <button> Logout</button> </a>​
        <br> <br>​
        {{{body}}}​
    </center>​
</body>​

</html>