<form action="/login" method="post">
    Login: <input type="text" name="email" id="email">
    <br><br>
    Senha: <input type="password" name="password">
    <input type="submit" value="Logar">
</form>