<form action="/createLesson" method="post">

    <div class="form-group">
        <label for="inputTitle">Title</label>
        <input type="text" class="form-control" id="inputTitle" name="title">
        <br> 
    </div>

    <div class="form-group">
        <label for="inputDuration">Duration min</label>
        <input type="number" class="form-control" id="inputDuration" name="duration_min">
        <br>
    </div>

    <div class="form-group">
        <label for="inputPosition">Positon</label>
        <input type="number" class="form-control" id="inputPosition" name="position">
        <br>
    </div>

    Curso associado:
     <select name="course_id">
        {{#each courses}}
        <tr>
            <option value={{id}}>{{id}} - {{title}}</option>
        </tr>
        {{/each}}
    </select>
    <br> <br>

    <button type="submit" class="btn btn-primary">Cadastrar Lição</button>
        
</form>