<form action="/createCourse" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label for="inputTitle">Title</label>
        <input type="text" class="form-control" id="inputTitle" name="title">

    </div>

    <div class="form-group">
        <label for="inputDescription">Description</label>
        <input type="text" class="form-control" id="inputDescription" name="description">

    </div>

    <div class="form-group">
        <label for="inputCategory">Category</label>
        <input type="text" class="form-control" id="inputCategory" name="category">

    </div>

    <div class="form-group">
        <label for="inputStatus">Status</label>
        <input type="text" class="form-control" id="inputStatus" name="status">

    </div>

    <div class="form-group">
        <label for="inputImagem">Imagem</label>
        <input type="file" class="form-control" id="inputImagem" name="imagem">
    </div>

    Usuario criador:
    <select name="owner_id">
        {{#each users}}
        <tr>
            <option value={{id}}>{{id}} - {{name}} - {{role}}</option>
        </tr>
        {{/each}}
    </select>
    <br> <br>


    <button type="submit" class="btn btn-primary">Cadastrar Curso</button>
     
</form>